/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
h5,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* убрали нижнее подчеркивание */
a {
  text-decoration: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

body {
  font-family: "Roboto Slab", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 10px;
}


/* block header */
header {
  background-image: url(../img/header_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header__inner {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  min-height: 100vh;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__list {
  font-family: "Montserrat", sans-serif;
  display: flex;
}

.menu__list-item {
  margin-right: 35px;
}

.menu__list-item:last-child {
  margin-right: 0;
}

.menu__list-link {
  color: #ffffff;
}

.header__title {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 264px;
  margin-bottom: 35px;
  text-align: center;
}

.header__text {
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 50px;
}

.header__btn {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  border: 2px solid #ffffff;
  border-radius: 2px;
  padding: 19px 35px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
}

/* section services */
.services {
  padding: 100px 0;
}

.services__title {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #555555;
  margin-bottom: 59px;
  text-align: center;
}

.services__title::after {
  position: absolute;
  content: "";
  left: 530px;
  top: 50px;
  width: 50px;
  height: 2px;
  background-color: #555555;
}

.services__text {
  font-size: 16px;
  line-height: 24px;
  color: #555555;
  text-align: center;
  margin-bottom: 70px;
}

.services__items {
  display: flex;
}

.services__item {
  display: flex;
  margin-right: 35px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.services__item:last-child {
  margin-right: 0;
}

.services__item-subtitle {
  line-height: 24px;
  color: #555555;
  margin: 29px 0 24px;
}

.services__item-text {
  line-height: 24px;
  color: #555555;
}

.about {
  padding: 100px 0;
  background-color: #f8f8f8;
}

.about__title {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #555555;
  margin-bottom: 60px;
  text-align: center;
}

.about__title::after {
  position: absolute;
  content: "";
  left: 530px;
  top: 50px;
  width: 50px;
  height: 2px;
  background-color: #555555;
}

.about__text {
  font-size: 16px;
  line-height: 24px;
  color: #555555;
  text-align: center;
  margin-bottom: 70px;
}

.about-description {
  display: flex;
  margin-bottom: 70px;
}

.about-description__text {
  line-height: 24px;
  color: #555555;
  align-items: center;
  margin-right: 30px;
}

.about-description__text:last-child {
  margin-right: 0;
}

.about-team__members {
  display: flex;
  justify-content: space-between;
}

.team-member {
  position: relative;
  cursor: pointer;
}

.team-member:hover .member-social a img {
  filter: none;
}

.team-member:hover img {
  filter: brightness(70%);
}

.team-member:hover .member-social {
  bottom: 90px;
  opacity: 1;
}

.member-social {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 20px;
  opacity: 0;
  transition: 0.6s;
  text-align: center;
}

.member-social a {
  display: inline-block;
  width: 28px;
  height: 28px;
  line-height: 32px;
}

.member-social a:hover {
  background-color: #c0301c;
}

.member__title {
  font-family: "Montserrat", sans-serif;
  line-height: 24px;
  text-transform: uppercase;
  color: #555555;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 15px;
  font-weight: bold;
}

.member__text {
  font-size: 13px;
  line-height: 24px;
  color: #555555;
  text-align: center;
}

.latest-works {
  padding: 100px 0;
  background-color: #ffffff;
}

.latest-works__title {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #555555;
  text-align: center;
}

.latest-works__title::after {
  content: "";
  display: block;
  width: 50px;
  border-bottom: 2px solid;
  margin: 29px auto;
}

.latest-works__list {
  display: flex;
  justify-content: center;
  font-family: "Roboto Slab", sans-serif;
}

.latest-works__list-item {
  margin-left: 25px;
}

.latest-works__list-item:first-child {
  margin-left: 0;
}

.latest-works__list-link {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #555555;
}

.latest-works__list-link:hover {
  color: #c0301c;
}

.latest-works__inner {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 30px;
}

.works {
  position: relative;
  cursor: pointer;
}

.works__back {
  display: inline-block;
  position: absolute;
  background: rgba(227, 77, 77, 0.7);
  color: #f72424;
  transition: .5s ease;
  opacity: 0;
  color: white;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 320px;
}

.works:hover .works__back {
  opacity: 1;
}

.works__back-title {
  font-family: "Montserrat", sans-serif;
  margin-top: 106px;
  font-size: 18px;
}

.works__back-text {
  font-family: "Roboto Slab", sans-serif;
  margin-top: 18px;
  font-size: 12px;
}

.works__back-link {
  display: inline-block;
  font-family: "Roboto Slab", sans-serif;
  margin-top: 26px;
  font-size: 14px;
  border-radius: 2px;
  padding: 13px 20px;
  margin-top: 26px;
  background-color: #fff;
  color: #c0301c;
  font-weight: bold;
}

.works__back-link img {
  display: inline;
}

.contact {
  padding: 100px 0;
}

.contact__title {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #555555;
}

.contact__title::after {
  content: "";
  display: block;
  width: 50px;
  border-bottom: 2px solid;
  margin: 29px auto;
}

.contact__text {
  text-align: center;
  font-size: 16px;
  color: #555555;
  margin-bottom: 70px;
}

.contact__boxs {
  display: flex;
  padding-left: 30px;
}

.contact__info {
  position: relative;
  margin-bottom: 40px;
}

.contact__info-title {
  line-height: 30px;
  text-transform: uppercase;
  color: #555555;
}

.contact__info-text {
  font-size: 12px;
  line-height: 20px;
  color: #555555;
}

.contact__info::before {
  position: absolute;
  content: "";
  background: url(../img/icon-map.png) no-repeat;
  left: -25px;
  top: 2;
  width: 12px;
  height: 17px;
}

.contact__order {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.contact__order::before {
  position: absolute;
  content: "";
  background: url(../img/phone-icon.png) no-repeat;
  left: -25px;
  top: 25px;
  width: 12px;
  height: 20px;
}

.contact__info-phone {
  font-size: 12px;
  line-height: 20px;
  color: #555555;
}

.contact__email {
  position: relative;
}

.contact__email::before {
  position: absolute;
  content: "";
  background: url(../img/mail-icon.png) no-repeat;
  left: -25px;
  top: 2;
  width: 17px;
  height: 15px;
}

.contact__email-mail {
  font-size: 12px;
  line-height: 20px;
  color: #555555;
}

.contact__form-wrap {
  margin-left: 163px;
}

.contact__form {
  max-width: 730px;
  display: flex;
  flex-wrap: wrap;
}

.contact__input {
  width: 350px;
  height: 45px;
  padding: 17px;
  margin-right: 30px;
  margin-bottom: 20px;
}

.contact__input-email {
  width: 350px;
  margin-bottom: 20px;
  height: 45px;
  padding: 17px;
}

.contact__input-subject {
  width: 350px;
  margin-right: 30px;
  height: 45px;
  padding: 17px;
}

.contact__input-name {
  width: 350px;
  height: 45px;
  padding: 17px;
}

.contact__input-area {
  width: 730px;
  margin-top: 20px;
  padding: 17px 100px 77px 17px;
}

.contact__submit {
  margin-top: 30px;
  width: 170px;
  padding: 17px 36px;
  cursor: pointer;
  background-color: #fff;
  font-family: "Roboto Slab";
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #555555;
  border: 1px solid #555555;
}

.get_in_touch {
  background: url(../img/bg-get.png) no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  box-shadow: inset 0 0 0 100vw rgba(231, 40, 40, 0.5);
}

.git_text {
  padding-top: 100px;
  font-family: "Roboto Slab", sans-serif;
  font-size: 30px;
  line-height: 44px;
  font-weight: 400;
  color: #ffffff;
}

.btn {
  margin-top: 54px;
  padding-bottom: 100px;
}

.git_btn {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  border: 2px solid #ffffff;
  border-radius: 2px;
  padding: 10px 20px;
  margin: 0 auto;
}

.git_btn:hover {
  background-color: #fff;
  color: #c0301c;
  font-weight: bold;
}

footer {
  padding: 100px 0;
  background-color: #c0301c;
}

.footer__links {
  position: relative;
  display: flex;
  justify-content: center;
}

.footer__links::after {
  position: absolute;
  content: "";
  display: block;
  width: 50px;
  border: 2px solid #fff;
  color: #ffffff;
  top: 70px;
  left: auto;
}

.footer__links-link {
  margin-right: 20px;
}

.footer__text {
  font-family: "Roboto Slab", sans-serif;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  margin-top: 61px;
}

@media (max-width: 768px) {
  .services {
    padding: 50px 0;
  }

  .services__title {
    margin-bottom: 30px;
  }

  .services__title::after {
    display: none;
  }

  .services__text {
    margin-bottom: 30px;
  }

  .services__items {
    display: block;
  }

  .services__item {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .services__item-subtitle {
    line-height: 24px;
    color: #555555;
    margin: 12px 0 7px;
  }

  .about {
    padding: 50px 0;
  }

  .about__title {
    margin-bottom: 30px;
  }

  .about__title::after {
    display: none;
  }

  .about__text {
    margin-bottom: 30px;
  }

  .about-description {
    display: block;
    margin-bottom: 30px;
  }

  .about-description__text {
    margin-right: 0;
    margin-bottom: 10px;
    text-align: center;
    line-height: 18px;
  }

  .about-team__members {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .team-member {
    margin-bottom: 20px;
  }

  .member__title {
    font-family: "Montserrat", sans-serif;
    line-height: 18px;
    text-transform: uppercase;
    color: #555555;
    text-align: center;
    margin-top: 9px;
    margin-bottom: 5px;
    font-weight: bold;
  }

  .team-member:hover .member-social {
    bottom: 60px;
    opacity: 1;
  }

  .latest-works__inner {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
}

@media (max-width: 375px) {
  .about__title {
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 18px;
  }

  .member__title {
    font-size: 14px;
  }
}